
<form class="form-inline">
   
    <div class="form-group mx-sm-3 mb-2" >
        <label for="filter" class="visually-hidden">Search : &nbsp;</label>
        <input class="form-control" id="filter" type="text" @bind-value="filter" />
      
    </div>
    <div class="col-auto">
        <button  @onclick="HandleSearch" type="button" class="btn btn-primary mb-3">Search</button>
    </div>
</form>

@code {


    private string filter;
    [Parameter]
    public EventCallback<string> OnSearch { get; set; }

    private void HandleSearch()
        {

        OnSearch.InvokeAsync(filter);

        }

}
