@page "/dynamic"

<h3>This is my first dynamic data...</h3>
<br />
<br />

<button @onclick="HandleBlazorServerClick">Blazor Server</button>
<button  @onclick="HandleBlazorWebAssemblyClick">Blazor WebAssembly</button>
<br />
<br />
<h3>@title</h3>
<h3>@content</h3>

@code {

    private string title;
    private string content;


    private void HandleBlazorServerClick()
    {
        title = "Balzor Server Click";
        content = "THis is Blazor Server button click event...";

    }

    private void HandleBlazorWebAssemblyClick()
    {
        title = "Balzor Web Assembly Click";
        content = "THis is Blazor Web Assembly button click event...";

    }




}
